<h1>LeaveNoTrace</h1>
<h2>Welcome, <a href="/users/<%=current_user.slug %>"><%= current_user.trailname %></a></h2>

<h4>Hikes:</h4>
<table>
<%@hikes.each do |hike| %> 
<ul>
    <li><a href="/hikes/<%=hike.id%>"><%=hike.name%></a> - <a href="/users/<%=hike.user.slug%>"><%=hike.user.trailname%></a></li>
</ul>
<%end%>
</table>

<form action='/logout' method="get">
<input type="submit" value="Log Out">
</form><br><br>