

<h1>LeaveNoTrace</h1>
<h2><%=@hike.name%></h2>
<h4>See more hikes by <a href="/users/<%=@hike.user.slug%>"><%=@hike.user.trailname%></a></h4
<table>
<tr>
    <td>Location: <%=@hike.location%></td><br>
    <td>Description: <%=@hike.description%></td><br>
    <td>Difficulty Level: <%=@hike.difficulty%></td><br>
    <td>Length: <%=@hike.length%></td><br>
    <td>Rating: <%=@hike.rating%></td><br>
    <td>Tips: <%=@hike.tips%></td><br>
    <td>Features: <%=@hike.features%></td><br><br>
</tr>
</table>

<form action="/hikes" method="get">
<input type="submit" id="submit" value="All Hikes">
</form>

<form action="/hikes/<%=@hike.id%>/edit" method="get">
<input type="submit" id="submit" value="Edit Hike">
</form>

<form action="/hikes/<%=@hike.id%>" method="post">
<input id="hidden" type="hidden" name="_method" value="delete">
<input type="submit" id="submit" value="Delete Hike">
</form>

