<!DOCTYPE html>
<html lang="en">
<head>
	<title>LeaveNoTrace</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="/stylesheets/layout.css" />
<body>
<div class="container-fluid"
	<%if is_logged_in?%>
		<h4>You are logged in as <a href="/users/<%=current_user.slug%>"><%= current_user.trailname %></a></h4>
	<%end%>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/home">LeaveNoTrace</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	<ul class="navbar-nav mr-auto">
	<li class="nav-item active">
        <a class="nav-link" href="/home">Home</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/hikes">Explore Hikes<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/users">Explore Hikers</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/hikes/new" tabindex="-1" aria-disabled="true">Post a Hike</a>
	  </li>
	  <li class="nav-item active">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
    </ul>
  </div>
</nav>
	<div class="imgcontainer">
   		<img src="https://i.pinimg.com/564x/28/d5/18/28d518485080567d0753622ff314a8da.jpg" alt="Sedona" alt="Responsive image">
	</div>
	<p>
		<% flash.keys.each do |type| %>
		<div data-alert class="flash <%= type %> alert-box radius">
	  	<strong style="color: red;"><%= flash[type] %></strong>
	  	<a href="#" class="close">&times;</a>
		</div>
  		<% end %>
	</p>


	<%= yield %>

	<footer class="branding">
	<small>&copy; 2020 <strong>LeaveNoTrace, Inc.</strong></small>
  	</footer>
</div>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>
